:root {
    --debug: 1px solid red;
}

body {
    font-family: 'Lato', sans-serif !important;
    background: rgba(255, 146, 24, 0.1);
    margin: 0;
}

.logo-div {
    margin: 0;
    padding: 0;
    background-image: url("/images/contact-images/PricedOut___1.svg");
    background-size: cover;
    background-position: center;
    width: 23.5%;
    height: 170px;
    position: relative;
    left: -10px;
    top: -15px;
}

.navBar{
    display: flex;
    flex-flow: column;
    align-items:center;
    position: relative;
    right: 2.5%;
    top: -30px;
}

.navLinks li a {
    font-size: 16px;
    font-weight: normal;
    color: #2D3047;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

.navLinks li a:hover {
    color: #FF9218;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin: 0px;
    width: 100%;
    /* height: 100px; */
}

header::before {
    content: "";
    background-image: linear-gradient(#FF9218, #F9F9F9);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 11%;
}

.navLinks li {
display: inline-block;
padding: 0px 20px;
}

.link-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF9218;
    margin-top: 8px;
    visibility: hidden;
}

.pattern {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.btm-pattern {
    position: absolute;
    bottom: 0;
}

.top-pattern {
    position: absolute;
    right: 0;
    top: 0;
}

.faq-content {
    width: 70%;
    margin: auto;
}

.faq-title {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 400;
}

.faq-item * {
    background: #FFF7F1;
    padding: 8px;
    line-height: 2.3rem;
    margin: 10px 0;
    border-radius: 10px;
}

.faq-item h3 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-item p {
    font-size: 1rem;
}

.arr-btn {
    transform: scaleY(-1);
}

.answer {
    display: none;
}

.mobile-logo {
    display: none;
}


/* iPad Styles */
@media all and (max-width: 770px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .logo-div {
        margin: 0;
        width: 60%;
        position: relative;
        top: 10px;
    }

    .navBar {
        width: 98%;
        display: flex;
        margin: 0 auto;
        position: relative;
        top: 10px;
        left: 0;
        padding: 0;
    }

    .navLinks {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .navLinks li {
        padding: 0;
        margin: 0 auto 0 0;
    }

    .navLinks li a {
        font-size: 1.3rem;
    }

    .faq-content {
        width: 90%;
    }

    .faq-item h3 {
        line-height: 2.3rem;
    }
}


/* Mobile Styles  */
@media all and (max-width: 600px) {
    body {
        padding: 0;
        margin: 0;
    }

    header {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }

    .logo-div {
        margin: 0;
        padding: 0;
        background-image: url("/images/contact-images/PricedOut___1.svg");
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
        top: 3%;
    }

    .navBar {
        width: 100%;
        padding: 0;
        position: initial;
    }

    .navLinks {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .navLinks li {
        padding: 0;
        margin: 0 8px;
    }

    .navLinks li a {
        font-size: 11px;
        width: 100%;
        margin: 0;
    }

    .faq-content {
        width: 84%;
    }

    .faq-title {
        font-size: 1.7rem;
    }

    .faq-item h3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .faq-item p {
        font-size: .7rem;
        line-height: 1.5rem;
    }
}