@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #E6DBCE;
}


header {
    display: flex;
    font-size: 16px;
    height: 10%;
    align-items: center;
}

header img { 
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

.navbar {
    margin-left: 20%;
    color: #181925;
    font-family: 'Open Sans', sans-serif;
}


main {
    margin: 4em auto;
    margin-top: 6%;
    width: 80%;
    background: url("/images/landingpage-images/shopper.svg");
    background-repeat: no-repeat;
    background-size: 1000px 600px;
    background-position: top right;
}

a {
    color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: orange;
}

a+a {
    margin-left: 50px;
}

.stripes {
    position: absolute;
    width: 2%;
    top: 0;
    display: flex;
}

.stripes img {
    margin: 0;
    padding: 0;
    height: 150px;
}

main h1 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #181925;
}

.bold {
    color: #FF9218;
    font-weight: bold;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    letter-spacing: 4px; 
    font-size: 22px;
}

button:hover {
    background-color: grey;
}

.start {
    background-color: #FF9218;
    color: white;
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 80px;
}

.container {
    display: flex;
    justify-content: center;
}


.items {
    color: #FF9218;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.items img {
    width: 100%;
    height: 100%;
    justify-items: center;
}

.items div {
    padding: 1em;
}

.box {
    background-color: white;
    width: 100px;
    border-radius: 10px;
    height: 90px;
    position: center;
    margin: 10px;
    box-shadow: 0px 3px #B8AFA5;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 23px;
    font-weight: bold;
}

.caption {
    display: block;
    text-align: center;   
    font-weight: 900;
    font-size: 9px;
}

footer {
    display: flex;
    justify-content: center;
    color: #797474;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
}

@media only screen and (max-width: 600px) { 

}