@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    height: 130vh;
    margin: 0;
    padding: 0;
    background-color: #f4f0ed; 
    background-image:url(/images/register_images/Group\ 70.png), url(/images/register_images/Group\ 70.png),
     url(/images/register_images/Group\ 81.png), url(/images/register_images/Group\ 82.png) ;
    background-repeat: no-repeat;
    background-size: 8%, 8%, 9%,9%;
    background-position: 79% 17%, 14% 72%, bottom left, bottom right;
    font-family: "Open Sans", sans-serif;

}

/* Header and nav bar style*/
.navBar{
    display: flex;
    flex-flow: column;
    /* height : 210px; */
    align-items:center;
}
.navLinks li a {
    font-size: 16px;
    font-weight: bold;
    color: #2D3047;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    position: relative;
}
.navLinks li a:hover{
    color: #FF9218;
}
header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin: 0px;
    max-width: 100%;
    height: 100px;
    background: url(images/register_images/PricedOut___1.svg); 
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: -120px;
}
header::before{
    content: "";
    background-image: linear-gradient(#FF9218, #F9F9F9);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 11%;
}
.navLinks li{
display: inline-block;
padding: 0px 20px;
}
 /* content styling*/

.Main
 {
     width: 100%;
     height: 80%;
     /* margin: auto; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
.main-content{
     height: 100%;
     width: 70%;
     background-color: white(122, 41, 41);
     display: flex;
     margin:auto;
     
  }
.rg{
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
 }
 
.card{
    width: 50% ;
    border-right: 1px solid grey;
    font-size: 14px;
 }
 
.terms{
     color: hsl(32, 96%, 52%);
     text-decoration: none;
  }
 
  /* input feilds stylying*/
.floating1{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-bottom: 1rem;
     background-color:#f4f0ed ;
     transition: .3s;
     margin-right: 1em;
  }
.flt{
      margin-right: 3rem;   
  }
 
.floating{
     margin-bottom: 2rem;
     background-color:#f4f0ed ;
     transition: all .3s;
     margin-right: 1rem;  
 }
 
.floating_input{
      background-color: #f4f0ed ;
      box-shadow: none;
      border:none;
      border-bottom: 1px solid black;
      width: 100% ;
      padding-right: 1rem;
      transition: all .5s;
  }
#input_fname{
      width: 100%;
  }

#input_lname{
      width: 100%;  
  }

#input_password{
      width: 85% ;
  }
  
.floating_input::placeholder{
      color: transparent;
  }
 
.floating_input:focus{
     box-shadow: none;
     outline: none;
     border-color:#FF9218  ;
 }
.floating_input:focus +.floating_label,
.floating_input:not(:placeholder-shown) +.floating_label
  {
      transform: translateY(-2.5rem) scale(.8)
  }
  
.floating_label{
      display: block;
      transform: translateY(-1.25em);
      transform-origin: 0 0;
      transition:all .3;
      opacity: 1;
      
  }
 
.create{
     margin-top: 7.5em;
     margin-right: 3rem;
     color: white;
     font-size: 14px;
     font-weight: 400;
     background-color:hsl(32, 96%, 52%);
     width: 75%;
     padding: 15px;
     border-radius: 5px;
     border: none;
 }
 
.social{
     width: 40% ;
     display: flex;
     flex-direction: column;
     padding: 0% 6%; */
 
 }
.social-buttons button{
     display: flex;
     flex-direction: row;
     margin-bottom:1em;
     font-size: 14px;
     font-weight: 400;
     width: 100%;
     height: 45px;
     padding: 5px;
     border-radius: 6px;
     border: solid 1px;
     align-items: center;
 }
     
.social-buttons button:hover{
     background: blue;
     }
 
.social-buttons img{
     margin-right: 10px;
    
 }
.ggle{
     text-indent: 0;
     width: 10%;
 }
.fb {
     width: 11%;
    
 }
.appl {
     color:blue;
     text-indent: 0;
     width: 11%;
 }
    /* login stying */
    .lg-email{
        text-align: center;
    }
.lg {
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
 }
 .login-form{
     
 }

 .login-input{
    display: block;
    margin-bottom: 1rem;
    background-color: #f4f0ed;
    border-color : rgb(184, 184, 184);
    border-radius: 5px;
    box-shadow: none;
    width: 100%;
    height: 45px;
 }
 #checkbox{
     margin: 0;
    
 }
 .remember{
     padding-right: 10rem;
     margin-bottom: 1rem;
     display: inline-block;
 }
 .forget-pass{
    color: hsl(32, 96%, 52%);
    text-decoration: none;
   
 }

.login-btn{
    margin-top: 2em;
    margin-right: 3rem;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background-color:hsl(32, 96%, 52%);
    width: 75%;
    padding: 15px;
    border-radius: 5px;
    border: none;
}
 
 
 /*responsive*/
 
@media all and (max-width: 600px) {
     body {
         /* border: 1px solid red; */
         height:210vh;
         padding: 0;
         margin: 0;
         background-image:url(/images/register_images/Group\ 70.png), url(/images/register_images/Group\ 70.png),
         url(/images/register_images/Group\ 81.png), url(/images/register_images/Group\ 82.png) ;
         background-repeat: no-repeat;
         background-size: 10%, 10%, 14%,14%;
         background-position: 68% 16%, 11% 66%, 0% 100%, bottom right;
    
         /* width: 100%; */
        }
     .header1 {
         flex-direction: column;
         width: 100%;
         height: 30vh;
         padding: 0;
         margin-bottom: 60px;
         background-position-y: -90px;
         background-position-x: 5px;
         background-size: cover;
         /* border: 1px solid red;  */
         }
     .navBar {
         /* border: 1px solid red; */
         width: 100%;
         padding: 0;
      
     }
     .navLinks {
         /* border: 1px solid red; */
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0;
     }
     .navLinks li {
         /* border: 1px solid red; */
         padding: 0;
         margin: 0 8px;
         font-size: 14px;
     }
     .navLinks li a {
         /* border: 1px solid red; */
         font-size: 11px;
         width: 100%;
         margin: 0;
     }
     
     .Main{
         width: 80%;
         margin: auto;
         height: 100vh;
         padding: ;
         display: block;
         align-items: center;
     }
     .main-content{
         height: 100%;
         width: 100%;
         background-color: white(122, 41, 41);
         display: block;
     }
     .card{
         width: 100%;
         border-right: none;
         font-size: 16px;  
      }
 
     #input_password{
         width: 70% ;
     }
 
      .create{
          margin:auto;
          width: 300px;
      }
 
      .social{
         width: 100%;
         margin: auto;
         display: block;
         padding: 0;
      }
 
      .social-buttons button{
       width: 200px;
       margin: 1rem auto;
     }

     /*mobile view login styling */
     .forget-pass{
        display: block;
        
     }
     .login-btn{
        margin:auto;
        width: 300px;
    }
     
 }
 